
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="property-detail">
                <img src="{{ property.image.url }}" alt="{{ property.title }}">
                <h2>{{ property.title }}</h2>
                <p>{{ property.description }}</p>
                <p>Location: {{ property.location }}</p>
                <p class="price">Price: ${{ property.price }}</p>
                <p>Bedrooms: {{ property.bedrooms }}</p>
                <p>Bathrooms: {{ property.bathrooms }}</p>
                <p>Address: {{ property.address }}</p>
                <div>
                    <!-- Add a button to contact page -->
                    <a href="{% url 'contact' %}" class="btn btn-primary">Contact</a>
                    <!-- Add a button to cart page -->
                    <a href="{% url 'add_to_cart' property.id %}" class="btn btn-primary">Add to Cart</a>

                    <a href="{% url 'create_order' property.id %}" class="btn btn-primary">Pay Advance</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
